<div class="bg-dark text-color p-2 h-100">
  <h1 class="text-center heading ">CredVault</h1>
  <p class="text-center">An application to store credentials of various platforms</p>
  <h2 class="text-center mt-5">Edit the Credential</h2>
  <div class="row  mt-3">
    <div class="col-4"></div>
    <div class="col-4">
      <form action="" [formGroup]="editCredForm" (ngSubmit)="onSubmit()">
        <div class="form-floating mb-3 w-80">
          <input type="text" class="form-control " id="name" placeholder="Enter your username" formControlName="username">
          <label for="name">Username</label>
        </div>
        <div class="alert alert-danger" *ngIf="username?.invalid && (username?.dirty || username?.touched)">
              <div *ngIf="username?.errors?.required">
                    Username is required!
              </div>
        </div>
        <div class="form-floating mb-3 w-80">
          <input type="password"  id="password" class="form-control" placeholder="Enter your password" formControlName="password">
          <label for="password">Password</label>
        </div>
        <div class="alert alert-danger" *ngIf="password?.invalid && (password?.dirty || password?.touched)">
          <div *ngIf="password?.errors?.required">
                Password is required!
          </div>
        </div>

        <div class="text-center">
          <button class="btn btn-outline-warning text-center" type="submit" [disabled]="editCredForm?.invalid">Submit</button>
        </div>
      </form>
    </div>
    <div class="col-4"></div>
  </div>
</div>
